@model ArmysalgClientWeb.Models.SalesOrder

@{
    ViewData["Title"] = "Index";
}

<div class=h1h2container>
    <h1>TAK FOR DIN BESTILLING REKRUT!</h1>
</div>
<div class=h1h2container>
    <h2>ORDRE NR: @Html.DisplayFor(modelItem => Model.SalesNo)</h2>
</div>