@model ArmysalgClientWeb.Models.SalesOrder

@{
    ViewData["Title"] = "Index";
}

<h1>TAK FOR DIN BESTILLING REKRUT!</h1>
<br />
<h2>ORDRE NR: @Html.DisplayFor(modelItem => Model.SalesNo)</h2>
<br />
<h2>GOD VENTETID</h2>

