# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/vs/
**/bin/
**/obj/

ConsoleApp5/.vs/ConsoleApp5/v16/.suo
.vs/3semesterProjekt/v16/.suo
.vs/slnx.sqlite
.vs/3semesterProjekt/v16/.suo
WebApplication5/.vs/WebApplication5/v16/.suo
ConsoleApp5/.vs/ConsoleApp5/DesignTimeBuild/.dtbcache.v2
WebApplication5/.vs/WebApplication5/config/applicationhost.config
