/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #000000;
    font-weight: bold;
}

    a:hover {
        color: #6e8b3d;
        font-weight: bold;
    }

.btn-primary {
    color: #000000;
    background-color: #6e8b3d;
    border-color: #556b2f;
}

    .btn-primary:hover {
        color: #000000;
        background-color: #a2cd5a;
        border-color: #6e8b3d;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* Random custom styles
-------------------------------------------------- */
body {
    background-image: url("../pics/camouflage.jpg");
}

input[type="number"] {
    width: 71px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: crosshair;
}

.table td, .table th {
    border: 1px solid #000000;
    background-color: rgba(255,255,255,0.7);
    padding: 8px;
    vertical-align: middle;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar-brand h2 {
    margin: 0;
    font-size: 35px;
    font-family: "Stencil", Stencil;
}

.navbar-brand img {
    margin: 0;background-image: url('file:///D:\Downloads\cart.png');
}

div.h1h2container {
    height: 7em;
    position: relative
}

    div.h1h2container h1, div.h1h2container h2 {
        background-color: white;
        opacity: 0.8;
        border-radius: 15px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: "Stencil", Stencil;
    }

div.h4container {
    height: 3em;
    position: relative
}

    div.h4container h4 {
        background-color: white;
        opacity: 0.8;
        border-radius: 15px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: "Stencil", Stencil;
    }

div.labeltcontainer {
    position: relative
}

div.labelcontainer label {
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
    padding: 10px;
}

p {
    display: block;
    background-color: white;
    color: black;
    opacity: 0.8;
    border-radius: 15px;
    padding: 10px;
    height: auto;
}

div.totalCartValue {
    height: 2em;
    position: relative
}

    div.totalCartValue h1 {
        background-color: white;
        opacity: 0.8;
        border-radius: 15px;
        padding: 10px;
        position: absolute;
        margin-right: -50%;
        left: 65%;
        top: 50%;
        font-family: "Stencil", Stencil;
    }