@page
@model RegisterModel
@{
    ViewData["Title"] = "ENLIST";
}
<div class=h1h2container>
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.FirstName"></label>
                </div>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.LastName"></label>
                </div>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.Address"></label>
                </div>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.ZipCode"></label>
                </div>
                <input asp-for="Input.ZipCode" class="form-control" />
                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.Phone"></label>
                </div>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.Email"></label>
                </div>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.Password"></label>
                </div>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class=labelcontainer>
                    <label asp-for="Input.ConfirmPassword"></label>
                </div>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="center">
        <br />
        <br />
        <img src="~/pics/enlist.jpg">
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
