@{
    ViewData["Title"] = "Home Page";
}



<div class=h1h2container>
    <h1>ARMYSALG.DK</h1>
</div>

<br />
<br />
<audio id="march" src="~/media/march.mp3" preload="auto"></audio>
<center><img src="~/pics/helmet.png" onclick="document.getElementById('march').play();"></center>

<div class=h1h2container>
    <h2>GEMMELEG FOR VOKSNE</h2>
</div>
