@{
    ViewData["Title"] = "Home Page";
}




<h1>ARMYSALG.DK</h1>

<br />
<br />
<audio id="march" src="~/media/march.mp3" preload="auto"></audio>
<center><img src="~/pics/helmet.png" onclick="document.getElementById('march').play();"></center>
<h2>GEMMELEG FOR VOKSNE</h2>
