@{
    ViewData["Title"] = "Privacy Policy";
}
<div class=h1h2container>
    <h1>@ViewData["Title"]</h1>
</div>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie vitae lacus id iaculis. Phasellus placerat libero id elit tempor, sed faucibus odio consequat. Donec quis molestie orci. Praesent tristique nulla in sagittis sagittis. Morbi lacus turpis, viverra semper arcu vitae, sollicitudin sagittis lorem. In hac habitasse platea dictumst. Duis nec tempor ipsum. In vel lacinia augue. Nullam ante nibh, placerat at urna at, sollicitudin semper ligula. Suspendisse accumsan vel tortor ut aliquet. Vestibulum sodales blandit sagittis. Fusce tellus tortor, venenatis et mattis vel, sagittis ut justo. Cras tristique lacus id sollicitudin imperdiet. Nulla sollicitudin, augue vel molestie iaculis, tellus tellus posuere nulla, nec fringilla urna nulla eu dui. Sed vel neque ultrices, eleifend orci a, varius turpis. Fusce ac iaculis nisi.
</p>
<p>
    Nullam egestas, nisi sed molestie viverra, ipsum libero ullamcorper nunc, in congue urna libero quis massa. Quisque in dolor nisl. Sed eget lacinia velit. Quisque tincidunt quam sit amet quam dapibus, a gravida tellus vestibulum. Integer laoreet suscipit quam, sit amet sollicitudin nunc facilisis id. Praesent in malesuada diam, in faucibus enim. Praesent sit amet turpis at ante fermentum tempus. Morbi ut ex ut nibh bibendum posuere. Etiam ultrices fermentum nisl eu eleifend. Nunc aliquam bibendum diam, ut interdum massa tincidunt vel. In auctor vel erat id pellentesque.
</p>
<p>
    Mauris purus ipsum, ullamcorper et augue in, porttitor cursus dolor. Donec eget libero et nisi placerat venenatis vel ut tellus. Cras cursus arcu nulla, et molestie mi maximus at. Aliquam tortor est, rhoncus vel sem nec, hendrerit porttitor tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin pretium faucibus justo ut imperdiet. Aliquam tempor mauris in porttitor suscipit.
</p>
<p>
    Ut ut interdum augue. Vivamus vel metus sit amet felis consequat faucibus. Integer bibendum semper accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris pharetra dui ac elit pulvinar, vitae tempor diam pulvinar. Vivamus tristique ut nunc ut eleifend. Sed egestas diam non eros fermentum cursus. Fusce sit amet odio risus. In vitae metus lorem.
</p>
<p>
    Praesent iaculis arcu posuere neque dapibus lacinia. Nullam dolor lacus, hendrerit ut ante sit amet, ultricies vehicula arcu. Duis a tortor nec nisi consequat tempus. Phasellus ac nulla malesuada diam euismod blandit. Donec aliquam, tellus ac tincidunt tincidunt, urna purus consectetur sem, et laoreet tortor augue sollicitudin justo. Suspendisse commodo gravida orci, eget accumsan leo semper et. Vivamus bibendum sed risus ac iaculis. Nulla ornare metus augue, quis pulvinar tellus ullamcorper gravida. Vestibulum eleifend massa ut tellus commodo mattis. Vestibulum rhoncus rhoncus ligula vitae tristique. Nunc sodales sed odio sed dapibus. Morbi facilisis tempus tortor et volutpat. Nunc eu ullamcorper dolor. Fusce mollis, orci vel dignissim suscipit, est nibh porta ex, eget fringilla sem leo in nibh. Cras maximus erat in ex mattis, ac pharetra felis euismod.
</p>
