<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="JwtToken"
			 value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiQXJteXNhbGdDbGllbnREZXNrdG9wIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjoiVXNlckFwcCIsIm5iZiI6IjE2MTg5OTg3NzYiLCJleHAiOiIxNjE4OTk5Mzc2In0.aFqskjx4wWLc-P2L74x2q1lGUFP04spedvSb1MCUfpg"
			 />
		<add key ="Username" value="ArmysalgClientDesktop"/>
		<add key ="Password" value="44ed5382-426a-4fdc-9d9b-6e0072ca22da"/>
		<add key ="GrantType" value="UserApp"/>
	</appSettings>
</configuration>